body{background-color:#F1F1F1!important}
h3{visibility:hidden;}
.post_comment{width:620px!important;}
.add_comm textarea{width:588px!important;}/*文本评论区域*/
.comm_list ul.list li.entry{width:620px!important;}/*回复内容字体等等的设置*/
